<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      Smart Market AI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="todo-header">
    <img src="assets/icon/market.png" alt="Supermercado" style="width: 56px; height: 56px; display: block; margin: 0 auto 12px auto;" />
    <!-- <h2>Minhas Tarefas</h2> -->
    <ion-item lines="none" class="todo-input">
      <ion-input placeholder="Adicionar nova tarefa..." [(ngModel)]="newTask" (keyup.enter)="addTask()"></ion-input>
      <ion-button fill="solid" color="primary" (click)="addTask()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

  <ion-list class="todo-list">
    <ion-item *ngFor="let task of tasks; let i = index" [ngClass]="{'done': task.done}">
      <ion-checkbox slot="start" [(ngModel)]="task.done"></ion-checkbox>
      <ion-label>{{ task.title }}</ion-label>
      <ion-button fill="clear" color="danger" slot="end" (click)="removeTask(i)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
